@import "simplebar-react/dist/simplebar.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: #3b82f6;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

#install-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #6200ee;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background: #53c61b;
  &:hover {
    background: #53c61b !important;
  }
}
